<div class="pullquote__container">
  <div class="content__img content__img-alt">
    {{ content.field_image }}
    <div class="blue-gradient"></div>
    <div class="pullquote pullquote--blue">
      <blockquote>
        {{ content.field_quote }}
        {% if content.field_attribution|render %}
          <p class="pullquote__author">
             {{ content.field_attribution }}
          </p>
        {% endif %}
        {% if content.field_modal_video|render %}
          <a href="https://www.youtube.com/watch?v=oklVBLlQs5k" class="button-arrow button-arrow--play{% if whiteBtn %} button-arrow--white {% else %} button-arrow--blue-dark{% endif %}" data-minimodal-title="Placeholder" data-minimodal>
            <span class="material-symbols-outlined">
              play_arrow
            </span>
            Watch Video
          </a>
        {% else if content.field_testimonial_cta|render %}
          {{ content.field_testimonial_cta }}
        {% endif %}
      </blockquote>
    </div>
  </div>
</div>
