<div class="alert alert--primary justify-center flow">
  <div class="alert__main alert__main--alt">
    {{ content.field_content }}
  </div>
  <button class="alert__button" data-alert-close>
    <span class="screen-reader-text">Close</span>
    <span class="material-symbols-outlined icon" aria-hidden="true">
      close
    </span>
  </button>
</div>
