<main id="main-content" class="programs-finder flow"
  data-program-finder
  data-grid
  data-program-finder-title="{% spaceless %}{{ label }}{% endspaceless %}"
  data-program-finder-intro="{% spaceless %}{{ content.field_intro_text }}{% endspaceless %}">
</main>
