<div class="header__nav header__nav--menu">
  <ul class="primary__nav">
    {{ content }}
    <li class="primary__nav__item">
      <button class="header__toggle header__toggle--desktop search--open" aria-expanded="false">
        <span class="screen-reader-text">Toggle Search</span>
      </button>
    </li>
  </ul>
</div>
