<div class="menu-sidebar">
  <h2 class="menu-sidebar__heading">
    <span>Menu</span>
  </h2>
  <button class="menu-sidebar__toggle dropdown" aria-expanded="false" data-expand="popup" data-expand-lock>
    <span class="hamburger">
      <span class="line"></span>
      <span class="line"></span>
      <span class="line"></span>
    </span>
    <span>Menu</span>
  </button>
  <ul class="reset menu-sidebar__menu">
    {{ content.field_subnav_links }}
  </ul>
</div>
