{% if content.field_p_background_color['#items'].getString() == 'light-blue' %}
  <div class="bg-blue-light invert py-[75px]">
{% else %}
  <div class="bg-blue-dark invert py-[75px]">
{% endif %}
  <div class="wrapper">
    {% if content.field_p_image_position['#items'].getString() == 'right' %}
      <div class="feature-panel feature-panel--swap">
    {% else %}
      <div class="feature-panel">
    {% endif %}
      {{ content.field_p_feature }}
    </div>
  </div>
</div>
