<div>
  <a href="{{ content.field_p_image_link.0['#url'] }}" class="flow">
    <div class="bg-blue w-[140px] h-[140px] p-m">
      {{ content.field_p_image }}
    </div>
    <p class="text-step-s">{{ content.field_p_image_link.0['#title'] }}</p>
  </a>
</div>
