{% if view_mode == 'full_width' %}
  <div class="region bg-white">
    <div class="wrapper">
      <div class="flow">
        {{ content.field_p_content }}
      </div>
    </div>
  </div>
{% elseif view_mode == 'full_width_program'  %}
<div class="wrapper">
<div class="flex justify-center">
<div class="lg:w-75 flow flow-space-xl my-xl">
<div>
{{ content.field_p_content }}
</div>
</div>
</div>
</div>
{% else %}
  <div>
    <div class="flow flow-space-s">
      {{ content.field_p_content }}
    </div>
  </div>
{% endif %}
