{% for item in items %}
  {% if item['content']['#title'] %}
    <li class="primary__nav__item--sub">
      <a href="{{ item['content']['#url'] }}">{{ item['content']['#title'] }}</a>
    </li>
  {% endif %}
{% endfor %}
