{% for item in items %}
  {% if item['content']['#title'] %}
    <li>
      <a href="{{ item['content']['#url'] }}">
        {{ item['content']['#title'] }}
      </a>
    </li>
  {% endif %}
{% endfor %}
