{% for item in items %}
  {% if item['content']['#title'] %}
    <a href="{{ item['content']['#url'] }}" class="button-arrow button-arrow--white">
      <span class="material-symbols-outlined">
        arrow_forward
      </span>
      {{ item['content']['#title'] }}
    </a>
  {% endif %}
{% endfor %}
