{% set view_mode = element['#view_mode'] %}
{% if view_mode == 'home' %}
  {% for item in items %}
    {% if item['content']['#title'] %}
      <a href="{{ item['content']['#url'] }}" class="button-arrow">
        <span class="material-symbols-outlined icon-fill" aria-hidden="true">
          arrow_forward
        </span>
        {{ item['content']['#title'] }}
      </a>
    {% endif %}
  {% endfor %}
{% else %}
  {% for item in items %}
    {% if item['content']['#title'] %}
      <a href="{{ item['content']['#url'] }}" class="button">
        {{ item['content']['#title'] }}
      </a>
    {% endif %}
  {% endfor %}
{% endif %}
