<ul class="reset flow flow-space-xs invert">
  {% for item in items %}
    {% if item['content']['#title'] %}
      <li data-animation="fade-in-up" data-animate>
        <a href="{{ item['content']['#url'] }}" class="button-router">
          {{ item['content']['#title'] }}
        </a>
      </li>
    {% endif %}
  {% endfor %}
</ul>
