<ul class="reset flow flow-space-xs invert">
  {% for item in items %}
    {% if item['content']['#title'] %}
      <li data-animation="fade-in-up" data-animate>
        <a class="button-router" href="{{ item['content']['#url'] }}">{{ item['content']['#title'] }}</a>
      </li>
    {% endif %}
  {% endfor %}
</ul>
