<ul class="reset secondary-menu">
  {% for item in items %}
    {% if item['content']['#title'] %}
      <li>
        <a href="{{ item['content']['#url'] }}" class="button-arrow button-arrow--white">
          <span class="material-symbols-outlined icon-fill" aria-hidden="true">
            arrow_forward
          </span>
          {{ item['content']['#title'] }}
        </a>
      </li>
    {% endif %}
  {% endfor %}
</ul>
