

{% if breadcrumb %}
  <div class="breadcrumbs invert">
    <div class="py-s">
      <ul class="reset cluster">
        <li class="breadcrumbs__home">
          <a href="/" aria-label="Home page"></a>
        </li>
        {% for item in breadcrumb %}
          {% if item.url %}
            <li>
              <a href="{{ item.url }}">
                {{ item.text }}
              </a>
            </li>
          {% else %}
            <li>
              {{ item.text }}
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
{% endif %}
