.accordion_wrapper {
  background-color: #12335d;
  width: 100%;
  padding: 1.5em 0;
  padding-bottom: 2em;
}

.accordion {
  position: relative;
  margin: 3rem 0;
  z-index: 0;
  border-bottom: 1px solid rgb(var(--blue-dark));

  .invert & {
    border-bottom: 1px solid rgb(var(--blue-light));
  }
}

.accordion__heading {
  margin: 0;
  padding: 0;
}

.accordion__toggle {
  position: relative;
  font-family: var(--heading);
  font-size: 1.325rem;
  font-weight: 600;
  line-height: 1.44;
  text-transform: none;
  display: block;
  position: relative;
  width: 100%;
  padding: 1.5rem;
  border-left: none;
  border-right: none;
  border-bottom: none;
  border-top: none;
  background: rgb(var(--blue-dk));
  text-align: left;
  transition: all var(--transition);

  @media (--md) {
    padding: 2rem 3rem 2rem;
  }

  &::after {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 1.5rem;

    @mixin inline-svg plus, rgb(root-var(--blue0-dark));

    content: '';
    width: 1.5rem;
    height: 1.5rem;
  }

  &:hover {
    opacity: 0.9;
    z-index: 1;
  }

  &[aria-expanded='true'] {
    border-bottom: none;
    + .accordion__content {
      opacity: 1;
      visibility: visible;
      max-height: 4000px;
      padding: 1.5rem;

      @media (--md) {
        padding: 2.0625rem;
      }
    }
  }

  .invert & {
    &::after {
      @mixin inline-svg plus, rgb(root-var(--white));
    }
  }
}

.accordion__heading {
  border-top: 1px solid rgb(var(--blue-dark));

  .invert & {
    border-top: 1px solid rgb(var(--blue-light));
  }
}

.accordion__content {
  --flow-space: var(--space-s);
  overflow:hidden;
  visibility: hidden;
  transition:height .3s ease-out;
  height:0;

  /* opacity: 0;
  visibility: hidden;
  max-height: 0;
  transition: var(--transition); */

  /* display: flex;
  flex-direction: column;
  gap: var(--space-m); */
  padding: 0 1.5rem;
  margin: 0;
  background: rgb(var(--blue-dk));

  @media (--md) {
    padding: 0 2.0625rem;
  }

  &.active {
    visibility: visible;
    padding-bottom: 2.5rem;

    @media (--md) {
      padding-bottom: 2.0625rem;
    }
  }
}
