.breadcrumbs {
  --space:  0.5rem;
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  font-weight: var(--font-bold);
  color: rgb(var(--blue));
  /* padding: 0 var(--gutter); */
  @apply text-step-s;

  .invert & {
    color: rgb(var(--light));
  }

  .normal-crumbs & {
    color: rgb(var(--blue)) !important;
  }

  li {
    position: relative;
    /* margin-right: 0.5rem; */
    &::after {
      /* position: absolute;
      bottom: 0; */
      text-decoration: none;
      content: "/";
      color: rgb(var(--blue));
      padding-left: 0.5rem;

      .invert & {
        color: rgb(var(--blue-light));
      }

      .normal-crumbs & {
        color: rgb(var(--blue)) !important;
      }
    }
    &:first-of-type {
      &::after {
        /* bottom: 4px; */
      }
    }
    &:last-of-type {
      &::after {
        display: none;
      }
    }

    a {

      .normal-crumbs & {
        color: rgb(var(--blue)) !important;
      }

      &:hover {

        .invert & {
          color: rgb(var(--light));
        }

        .normal-crumbs & {
          color: rgb(var(--blue)) !important;
        }

        .hero & {
          text-decoration: none;
        }


      }
    }
  }

  @media (--lg) {
    .hero & {
      margin-bottom: auto;

      /* position: absolute;
      z-index: 1;
      top: var(--space-m); */
    }
  }
}

.breadcrumbs__home {
  display: flex;
  a {
    text-decoration: none;
    &::after {
      font-family: 'Material Symbols Outlined';
      content: '\e88a';
      font-size: 1rem;
      font-variation-settings:
      'FILL' 0,
      'wght' 400,
      'GRAD' 0,
      'opsz' 48;
    }
  }
}

.breadcrumbs--mobile {
  display: flex;
  position: relative;
  padding: var(--space-xs) 0;

  @media (--md) {
    display: none;
  }
}
