.event {
  text-decoration: none;

  &:hover {
    .event__title {
      text-decoration: none;
    }
  }
}
.event__title {
  font-weight: normal;
  line-height: 1.3;
}


.fc-button-group>.fc-button{
  background-color:rgb(var(--blue));
  border-color:rgb(var(--blue));
}

.event__singular{
  padding: 5rem 0;
}

.event__info{
  font-weight:bold;
}


.event__tags{
  font-style:italic;
  font-size:1rem;
}


#main__calendar{
  display: flex;
  max-width: 85rem;
  margin: auto;
  padding:5rem;
}


.paragraph--type--events-calendar .fc-button-primary {
  background-color:rgb(var(--blue));
  border-color:rgb(var(--blue));
  font-size:1rem;
}


#main__calendar .fc-button-primary:disabled {
  background-color:rgb(var(--gray));
  border-color:rgb(var(--gray));
  font-size:1rem;
}


.event__filter__dropdown{
  display: flex;
  max-width: 80.5rem;
  margin: auto;

}

.dropbtn {
    &::after {
    content: '';
    @mixin inline-svg arrow_drop_down, rgb(root-var(--white));
    display: block;
    width: 0.625rem;
    height: 0.4375rem;
    background-size: 1.5rem;
    margin-top: 0.25rem;
    margin-left: 0.5rem;
    float: right;
  }
}


.event__filter__dropdown ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.event__filter__dropdown li {
  float: left;
}

.event__filter__dropdown li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.event__filter__dropdown li a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

.event__filter__dropdown li.dropdown {
  display: inline-block;
}

.event__filter__dropdown .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}



.event__filter__dropdown .dropdown{
  background:rgb(var(--blue-dark));
}

.event__filter__dropdown .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.event__filter__dropdown .dropdown-content a:hover {background-color: #f1f1f1;}

.event__filter__dropdown .dropdown:hover .dropdown-content {
  display: block;
}



.event--alt {
  display: flex;
  
  .event__date {
    position: relative;
    z-index: 1;
    font-family: var(--heading);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 35%;
    min-height: 10.75rem;
    height: 100%;
    background-color: rgb(var(--blue-dark));
    font-size: 1.375rem;
    font-weight: 900;
    line-height: 1;
    text-transform: uppercase;
  
    span {
      display: block;
      font-size: 3.75rem;
      line-height: 1;
      /* margin-bottom: 0.5rem; */

      @media (--md) {
        font-size: 4.5rem;
      }
    }
    &.event__date--range {
        span {
          font-size: 22px;
        }
    }

    @media (--md) {
      width: 12.5rem;
      font-size: 1.75rem;
    }
  }
  .event__details {
    position: relative;
    z-index: 1;
    @mixin h6;
    display: flex;
    align-items: center;
    height: 100%;;
    padding: var(--space-l);
    color: rgb(var(--blue-dark));
    background-color: rgb(var(--blue));
    flex: 1;
  }
}