.feature-panel {
  display: flex;
  flex-direction: column;
  gap: var(--space-s);

  color: rgb(var(--blue-dark));

  @media (--lg) {
    /* padding: 4rem 0; */
    align-items: center;
    gap: var(--space-3xl);
    flex-direction: row;
    .l-page-sidebar & {
      gap: var(--space-l);
    }
  }
  .content__blue &,
  .invert & {
    color: rgb(var(--white));
  }
}

.feature-panel--swap {
  @media (--lg) {
    flex-direction: row-reverse;
    /* align-items: flex-end; */
  }
}

.feature-panel__img {
  position: relative;
  @media (--lg) {
    width: 47%;
  }

  .button-arrow {
    background-color: rgba(18, 51, 93, 0.75);
    bottom: 0;
    padding: 1rem;
  }
}

.feature-panel__video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 4.875rem;
  height: 4.875rem;
  border-radius: 50%;
  background-color: rgb(var(--light));
  text-decoration: none;
  color: rgb(var(--blue));

  display: flex;
  align-items: center;
  justify-content: center;

  transition: transform var(--transition);

  &:hover {
    transform: translate(-50%, -50%) scale(1.2);
  }

  & .material-symbols-outlined {
    font-size: 76px;
  }
}

.feature-panel__content {
  flex: 1;
  @media (--lg) {
    /* padding: var(--space-xl) 0; */
  }
}

.feature-panel__content {
  > * {
    margin: 1rem 0 0;
  }
  .button {
    width: 100%;
    @media (--lg) {
      width: auto;
    }
  }
}

.feature-panel__heading {
  font-size: var(--size-step-2);
}

.bg-blue-dark .button{
  background: rgb(var(--blue));
}

.bg-blue-dark .button:hover{
  background: rgb(var(--white));
}

.advantage__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;

  @media (--md) {
    flex-direction: row;
  }
  span {
    display: block;
    height: 8.375rem;
    width: 8.375rem;
    flex-shrink: 0;
    @mixin inline-svg advantage-logo,
  rgb(root-var(--blue-dark));
    .content__blue &,
    .content__blue-dark & {
      @mixin inline-svg advantage-logo,
      rgb(root-var(--white));
    }
  }
}
