.hero {
  @media (--lg) {
    margin-top: -156px;
  }
  /* p {
    margin: 0;
    color: rgb(var(--white));
  } */
}
.hero--home {
  position: relative;

  left: 0;
  width: 100%;
  min-height: 600px;
  height: 80vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: var(--space-xl);

  &::before,
  &::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 50%;
    left: 0;
  }

  &::before {
    @media(--xl) {
      top: 0;
      background-image: linear-gradient(180deg, rgb(var(--black)) 0%, rgba(0, 102, 179, 0) 100%);
    }
  }

  &::after {

    position: absolute;
    bottom: 0;
    height: 60%;
    background-image: linear-gradient(180deg, rgba(0, 102, 179, 0) 0%, rgb(var(--blue)) 100%);

  }

}

.hero--center {
  background-position: center;
}

.hero--program {
  background-color: #16325c;
  background-color: rgb(var(--blue-dark));
  border-top: 1px solid hsla(0, 0%, 100%, .16);
  margin-top: 0;
  overflow: hidden;
  padding-bottom: var(--space-xl);
  position: relative;

  .hero__headline {
    flex: 0;
    font-size: 3rem;
    letter-spacing: normal;
    position: relative;
    text-shadow: none;

    &::before {
      background-color: #8ad3e0;
      bottom: 0;
      content: "";
      height: 4.625rem;
      left: -2rem;
      position: absolute;
      top: -1.25rem;
      width: 0.5rem;
    }

    &::after {
      position: absolute;
      content: '';
      width: 40rem;
      height: 40rem;
      top: -9rem;
      left: -12rem;
      @mixin inline-svg maple,
      rgb(root-var(--white));
      pointer-events: none;
    }
  }
  .intro {
    font-size: 1.125rem;
    font-weight: 700;
  }

  .contact__list {
    margin-top: 2.5rem;

    h2 {
      font-size: 1.5rem;
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }
    li {
      margin-top: 1rem;
    }
  }
}

.hero__container {
  position: relative;
  /* @mixin container; */

  .programs-finder & {
    padding-top: 2rem;

    @media (--lg) {
      padding-top: 14rem;
    }
  }
}

.hero__headline {
  position: relative;
  font-size: var(--size-step-4);
  font-family: var(--heading);
  color: rgb(var(--white));
  font-weight: 700;
  line-height: .9;
  z-index: 1;
  line-height: 1;
  flex: 1;
  text-shadow: 0 0 18px rgba(var(--black), .5);

  span {
    display: block;
    overflow: hidden;
  }

  span:nth-child(2) {
    animation-delay: 1000ms;
    font-size: var(--size-step-6);
  }

  .hero--home & {
    flex: unset;
    text-transform: uppercase;
    text-align: center;
    margin-top: auto;
    margin-bottom: var(--space-xl);
  }
}

.hero__arrow__btn {
  z-index: 1;
  width: 18rem;
  margin-bottom: -10rem;
  background-color: transparent;
  border: 0;
  transform: translateY(-2rem);
  transition: transform var(--transition);
  &:hover,
  &:focus {
    transform: translateY(0);
  }
}


.hero__arrow {
  color: rgb(var(--white));
}

.hero--sub {
  position: relative;
  overflow: hidden;
  left: 0;
  width: 100%;
  min-height: 600px;
  background-size: cover;
  background-position: top center;

  /* margin-bottom: 8rem; */

  background-color: rgb(var(--blue));


  &::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 50%;
    left: 0;
  }

  &::before {
    top: 0;
    background-image: linear-gradient(180deg, rgb(var(--black)) 0%, rgba(0, 102, 179, 0) 100%);
    @media(--lg) {
      top: 0;
      background-image: linear-gradient(180deg, rgb(var(--black)) 20%, rgba(0, 102, 179, 0) 100%);
    }
  }

  .hero__headline {
    padding: var(--space-2xl) 0 0;
  }

  .hero__container {
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    min-height: 500px;
    /* height: 70vh; */
    @media (--lg) {
      padding-bottom: var(--space-2xl);
    }
  }

}

.hero--landing {
  position: relative;

  left: 0;
  width: 100%;
  overflow: hidden;

  background-color: rgb(var(--blue));


  &::before,
  &::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 50%;
    left: 0;
  }

  &::before {
    top: 0;
    background-image: linear-gradient(180deg, rgb(var(--black)) 0%, rgba(0, 102, 179, 0) 100%);
  }

  .hero__headline {
    padding: var(--space-2xl) 0 var(--space-m);
  }

  .hero__container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    /* min-height: 600px; */
    /* height: 80vh; */
  }

}

.hero__form__toggle {
  margin: 2rem 0;
  @media (--lg) {
    display: none;
  }
}

.hero__form__content {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: scroll;
  z-index: 30;
  background-color: rgb(var(--blue-dark));

  .form-active & {
    display: block;
  }

  @media (--lg) {
    position: relative;
    display: block;
    overflow: auto;
    z-index: 1;
  }
  h3 {
    @media (--lg) {
      display: none;
    }
  }
}

.hero__form__content--close {
  background-color: #16325c;
    background-color: rgb(var(--blue-dark));

    @mixin inline-svg close, rgb(root-var(--white));
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 2rem 2rem;
    border: 0;
    border-radius: 50%;
    display: block;
    height: 4rem;
    outline-color: #fff;
    outline-color: rgb(var(--white));
    overflow: hidden;
    padding: 0;
    position: absolute;
    right: 1rem;
    text-indent: -999rem;
    top: 1rem;
    transition: all .25s ease;
    transition: all var(--transition);
    width: 4rem;
    z-index: 3;

    @media (--lg) {
      display: none;
    }
}
