.pullquote__container {
  @media (--xl) {
    /* margin-top: 5rem; */
  }
}

.pullquote {
  margin: 0 auto;

  @media (--lg) {
    max-width: 60rem;
  }

  blockquote {
    position: relative;
    margin: 0;
    color: rgb(var(--white));
    @media (--xl) {
      margin: 5rem 0;
      margin-left: 14.5rem;
    }
    &::before {
      content: '';
      display: block;
      width: 6.75rem;
      height: 6.75rem;
      @mixin inline-svg Large-Quote, rgb(root-var(--white));

      @media (--xl) {
        position: absolute;
        left: -14.5rem;
        top: -5rem;
        height: 11.813rem;
        width: 11.813rem;
      }
    }
  }

  p:not([class]) {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.6;
  }
}

.pullquote--alt {
  blockquote {
    padding: var(--space-m);
    @media (--xl) {
      margin: 0;
    }
    &::before {
      content: '';
      display: block;
      width: 6.75rem;
      height: 6.75rem;
      @mixin inline-svg Large-Quote, rgb(root-var(--white));

      @media (--xl) {
        position: relative;
        left: unset;
        top: unset;
        width: 6.75rem;
        height: 6.75rem;
      }
    }
    &::after {
      content: '';
      display: block;
      width: 6.75rem;
      height: 6.75rem;
      @mixin inline-svg Large-Quote, rgb(root-var(--white));
      transform: rotate(180deg);
      margin-left: auto;
      margin-top: 1rem;

      /* @media (--xl) {
        position: absolute;
        right: -14.5rem;
        bottom: -5rem;
        height: 11.813rem;
        width: 11.813rem;
      } */
    }
  }
}

.pullquote--blue {
  margin-left: 0;
  margin-right: auto;
  blockquote {
    background-color: rgba(var(--blue), .8);
    margin-right: auto;
    margin-left: 0;
    /* margin-bottom: -4rem; */
    padding: 1rem 1rem 5rem;
    @media (--md) {
      width: 70%;
      padding: 7rem 5rem 5rem;
    }
    &::before {
      left: auto;
      margin-top: -3.5rem;
      @media (--lg) {
        margin-top: 0;
      }
    }
  }
}

.pullquote--white {
  margin-left: auto;
  margin-right: 0;
  blockquote {
    background-color: rgb(var(--white));
    margin-left: auto;
    margin-right: 0;
    color: rgb(var(--blue));
    padding: 1rem 1rem 5rem;
    @media (--md) {
      background-color: rgba(var(--white), .8);
      width: 70%;
      padding: 7rem 5rem 5rem;
    }
    &::before {
      left: auto;
      margin-top: -3.5rem;
      @mixin inline-svg Large-Quote, rgb(root-var(--blue));
      @media (--lg) {
        margin-top: 0;
      }
    }
  }
}

.pullquote__author {
  font-size: 1rem;
  font-weight: bold;
  margin: 2rem 0;
}
