div.form_page input {
  --flow-space: var(--space-3xs);
  border: none;
  background-color: rgba(255,255,255,0.2);
  padding: var(--space-xs);
  width: 100%;
}
div.form_page select {
  --flow-space: var(--space-3xs);
  border: none;
  background-color: rgba(255,255,255,0.2);
  padding: var(--space-xs);
  width: 100%;
}
.form_button_submit {
  @mixin button;
  background: rgb(var(--blue));
  width: 100%;
}