div.form_page input {
  --flow-space: var(--space-3xs);
  padding: 0.5rem;
  border: 1px solid rgb(var(--blue-dark));
  .invert & {
    background-color: rgba(255,255,255,0.2);
    border: none;
  }
  .hero & {
    width: 100%;
  }
}
div.form_page select {
  --flow-space: var(--space-3xs);
  padding: 0.5rem;
  border: 1px solid rgb(var(--blue-dark));
  .invert & {
    background-color: rgba(255,255,255,0.2);
    border: none;
  }
  .hero & {
    width: 100%;
  }
}

div.form_question {
  margin-bottom: 0.75rem !important;
}

div.form_page .form_birthdate select {
  width: auto;
}

.form_button_submit {
  @mixin button;
  border: 1px solid rgb(var(--blue-dark));
  .invert & {
    background: rgb(var(--blue));
    &:hover {
      background: rgb(var(--white));
    }
  }
  .hero & {
    width: 100%;
  }
}
.required {
  .invert & {
    @apply text-dark;
  }
}
.form_h1 {
  @mixin h4;
}
#form_description {
  margin-bottom: 2rem;
}
