.testimonial-carousel__container {
  position: relative;
  margin: 50px 0;
  @mixin container;

  /* @media (--xl) {
    padding-left: 0;
    padding-right: 0;
  } */
  h2 {
    color: rgb(var(--blue));
  }
}

.testimonial-carousel {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  gap: var(--space-xs);

  color: rgb(var(--white));

  & .flickity-viewport {
    overflow: hidden;
    width: 100%;

    @media (--md) {
      margin: 0;
    }
  }

  & .flickity-page-dots {
    display: inline-flex;
    align-items: center;
  }

  & .flickity-page-dot {
    background-color: transparent;
    border: 1px solid var(--color-blue);
    height: 1rem;
    width: 1rem;
    overflow: hidden;

    &.is-selected {
      background-color: var(--color-blue);
    }
  }
}

.testimonial-carousel--hide-pager {
  & .flickity-page-dots {
    display: none;
  }
  & .testimonial-carousel__nav {
    display: none;
  }
}

.testimonial-carousel__nav {
  order: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
}

.testimonial-carousel__nav__btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  border-radius: 100%;
  border: none;
  background-color: var(--color-blue);
  z-index: 1;

  &.testimonial-carousel__previous {
    margin-right: var(--space-xs);
  }

  span {
    width: 1.25rem;
    height: 1.25rem;
  }
}

.testimonial-carousel__next {
  & span {
    transform: rotate(180deg);
  }
}

.testimonial-carousel__item {
  @mixin zero;

  display: flex;
  width: 100%;
  transition: width 500ms ease;

  /* img,
  .blue-gradient {
    display: none;

    @media (--lg) {
      display: block;
    }
  } */

  .pullquote__container {
    width: 100%;
  }
}

.testimonial-carousel__item.is-selected {
  z-index: 1;
}

.testimonial-carousel__arrow {
  position: absolute;
  top: 5rem;
  right: 20%;
  z-index: 1;
  width: 10rem;
  color: rgb(var(--blue));
  transform: rotate(-90deg);

  @media (--lg) {
    width: 20rem;
    top: -10%;
    right: 20%;
  }
}
