.testimonial {
  color: rgb(var(--blue-dark));
  position: relative;
  padding: var(--space-l) var(--space-2xl);
  blockquote {
    @mixin h4;
  }
  cite {
    font-style: normal;
  }
  &.invert {
    color: rgb(var(--light));
    blockquote {
      color: rgb(var(--light));
    }
  }
  &::before {
    content: " ";
    display: block;
    position: relative;
    width: 3.125rem;
    height: 2.8125rem;
    top: -1rem;
    @mixin inline-svg Large-Quote, rgb(root-var(--blue-dark));
    @media (--lg) {
      margin-top: 0;
    }
  }
  &::after {
    content: " ";
    display: block;
    position: relative;
    width: 3.125rem;
    height: 2.8125rem;
    margin-left: auto;
    @mixin inline-svg Large-Quote, rgb(root-var(--blue-dark));
    transform: rotate(180deg);
    bottom: -1rem;
    @media (--lg) {
      margin-top: 0;
    }
  }
  &.bg-blue-dark {
    &::before,
    &::after {
      @mixin inline-svg Large-Quote, rgb(root-var(--blue));
    }
  }
}
