<main id="main-content">
  <div class="wrapper">
    <div class="l-page-sidebar mb-xl lg:my-l">
      <div></div>
      <div>
        <div class="flow relative">
          <div class="flow flow-space-2xl">
            {{ page.tabs }}
            {{ page.content }}
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
{{ page.footer }}
