{% include '@isu/includes/header.html.twig' %}
<script>
  var jsonUrl = "/program-finder-json";
</script>

<div class="absolute top-[5rem] px-s xl:top-[10rem] xl:px-l">
  {{ page.breadcrumb }}
</div>
{{ page.tabs }}
{{ page.content }}
{{ page.footer }}
