{% include '@isu/includes/header.html.twig' %}
<main id="main-content">
  {{ drupal_field('field_hero', 'node', (node.id ? node.id : node)) }}
  {{ page.tabs }}
  {{ page.content }}
</main>
{{ page.footer }}
