{% include '@isu/includes/header.html.twig' %}
<script>
  var jsonUrl = "/program-finder-json";
</script>

<div class="bg-dark px-s xl:bg-opacity-0 xl:px-l xl:-mt-xs">
  {{ page.breadcrumb }}
</div>
{{ page.tabs }}
{{ page.content }}
{{ page.footer }}
