{% set page = { title: 'Admissions' } %}
{% extends '@layouts/base.html' %}

{% block body %}

<main id="main-content">
<div class="hero hero--sub invert" style="background-image: url('{{ image ?? 'img/hero-secondary.jpg' }}');">
  <div class="px-s xl:px-l">
    {% include '@components/breadcrumbs.html' %}
  </div>
  <div class="wrapper">
    <div class="hero__container">
      <div class="lg:z-10 lg:flex lg:items-center lg:gap-xl">
        <div class="flow flow-space-2xl">
          <div class="flow lg:flex">
            <h1 class="hero__headline">
              Admissions
            </h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="bg-blue invert py-l">
  <div class="wrapper">
    <div>
      <div class="flow flow-space-m">
        <p class="intro">Shape the future you want by applying to Indiana State University. Our accredited, hands-on academic programs will
        unleash your potential and inspire your dreams. Apply today, and get ready to make a difference in your life, your
        career, and the world!</p>
      </div>
    </div>
  </div>
</div>
<div class="region bg-white py-l">
  <div class="wrapper">
    <div class="flow">
      <p>At Indiana State University, education starts in the classroom and goes beyond. You'll build knowledge and
        skills with our expert professors through our many undergraduate and graduate programs. Our emphasis on hands-on
        learning will teach you to apply them to real-world situations. You'll also connect with students from all over
        the country and the world. Their experiences will help you broaden your perspectives, and your friendships can
        last a lifetime. Finally, we offer online options for students who need to complete a few classes or an entire
        degree remotely. Whatever your needs and goals, we'll help you reach them. At Indiana State, you'll achieve your
        potential with Blue.</p>
    </div>
  </div>
</div>


  <div class="bg-blue-dark invert py-[50px]">
    <div class="wrapper">
      <div class="feature-panel feature-panel--swap">
        <div class="feature-panel__img">
           <img src="../img/feature1.jpg" alt="placeholder">
           <a class="button-arrow button-arrow--white button-arrow--play z-10 bottom-xs left-xs" href="https://www.youtube.com/watch?v=oklVBLlQs5k" data-minimodal data-minimodal-caption="Caption — Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.">
            <span class="material-symbols-outlined icon-fill" aria-hidden="true">
              play_arrow
            </span>
            Watch Video
          </a>
        </div>
        <div class="feature-panel__content">
          <h2 class="feature-panel__heading">Welcome to Your Future</h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Placerat orci nulla pellentesque dignissim enim sit amet. Viverra accumsan in nisl nisi.
            </p>

            <a href="#" class="button button--blue">
              Clubs & Activities
            </a>
        </div>
      </div>
    </div>
  </div>

  <div class="region content__top-blue py-[50px]">
    <div class="routing-panel__container">
      <h2 class="routing-panel__heading text-blue-dark">Headline (2-Up Panel)</h2>
      <ul class="routing-panel invert">
        <li class="routing-panel__block flow flow flow-space-m">
          <div class="routing-panel__frame">
            <img src="../img/headline-panel1.jpg" alt="placehold">
          </div>
          <h3>World Class Experience</h3>
          <div class="routing-panel__content flow flow flow-space-2xs">
            <p>
              Sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              incididunt. Sit amet, consectetur adipiscing elit.
            </p>
            <a href="#" class="button-arrow button-arrow--white">
              <span class="material-symbols-outlined" aria-hidden="true">
                arrow_forward
              </span>
              Optional Link
            </a>
          </div>
        </li>
        <li class="routing-panel__block flow flow flow-space-m">
          <div class="routing-panel__frame">
            <img src="../img/headline-panel2.jpg" alt="placehold">
          </div>
          <h3>Four-Year Guarantee</h3>
          <div class="routing-panel__content flow flow flow-space-2xs">
            <p>
              Sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              incididunt. Sit amet, consectetur adipiscing elit.
            </p>
            <a href="#" class="button-arrow button-arrow--white">
              <span class="material-symbols-outlined" aria-hidden="true">
                arrow_forward
              </span>
              Optional Link
            </a>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <div class="region bg-white py-[50px]">
    <div class="routing-panel__container">
      <h2 class="routing-panel__heading text-blue-dark">
        Visual Router Grid Variation 2
      </h2>
      <ul class="routing-panel grid" data-layout="1/3">
        <li class="routing-panel__block flow">
          <a href="#" class="routing-panel__link flow flow-space-m">
            <div class="routing-panel__frame">
              <img src="../img/image1.jpg" alt="placehold">
              <div class="routing-panel__box"></div>
            </div>
            <h3>First Year</h3>
          </a>
          <div class="routing-panel__content flow-space-3xs">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
          </div>
        </li>
        <li class="routing-panel__block flow">
          <a href="#" class="routing-panel__link flow flow-space-m">
            <div class="routing-panel__frame">
              <img src="../img/image2.jpg" alt="placehold">
              <div class="routing-panel__box"></div>
            </div>
            <h3>Graduate</h3>
          </a>
          <div class="routing-panel__content flow-space-3xs">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
          </div>
        </li>
        <li class="routing-panel__block flow">
          <a href="#" class="routing-panel__link flow flow-space-m">
            <div class="routing-panel__frame">
              <img src="../img/image3.jpg" alt="placehold">
              <div class="routing-panel__box"></div>
            </div>
            <h3>Transfer</h3>
          </a>
          <div class="routing-panel__content flow-space-3xs">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
          </div>
        </li>
        <li class="routing-panel__block flow">
          <a href="#" class="routing-panel__link flow flow-space-m">
            <div class="routing-panel__frame">
              <img src="../img/image4.jpg" alt="placehold">
              <div class="routing-panel__box"></div>
            </div>
            <h3>International</h3>
          </a>
          <div class="routing-panel__content flow-space-3xs">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
          </div>
        </li>
        <li class="routing-panel__block flow">
          <a href="#" class="routing-panel__link flow flow-space-m">
            <div class="routing-panel__frame">
              <img src="../img/image5.jpg" alt="placehold">
              <div class="routing-panel__box"></div>
            </div>
            <h3>U.S. Military & Veteran</h3>
          </a>
          <div class="routing-panel__content flow-space-3xs">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
          </div>
        </li>
        <li class="routing-panel__block flow">
          <a href="#" class="routing-panel__link flow flow-space-m">
            <div class="routing-panel__frame">
              <img src="../img/image6.jpg" alt="placehold">
              <div class="routing-panel__box"></div>
            </div>
            <h3>Non-Degree and Dual Enrollment</h3>
          </a>
          <div class="routing-panel__content flow-space-3xs">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <div class="region bg-white py-[50px]">
    <div class="wrapper">
      <div class="flow flow-space-l">
        <div class="flex flex-col gap-s lg:flex-row lg:justify-between lg:items-center" data-animation="fade-in-up" data-animate>
          <h2>Headline (Events) Variation 1</h2>
          <div class="lg:text-right">
            <a class="button button--primary" href="#">Explore All Events</a>
          </div>
        </div>
        <div class="grid grid--events gap-m" data-layout="1/3">
          <a href="#" class="event flow bg-blue invert py-l px-m">
            <div class="event__date h3">May 10</div>
            <h3 class="event__title font-base text-step-0">
              Announcement Heading (8-10 Words) — Lorem Ipsum Dolor sit
            </h3>
            <div class="event__details">
              <div class="event flex items-center gap-xs">
                <span class="material-symbols-outlined" aria-hidden="true">
                  schedule
                </span>
                10:00 am - 3:00 pm
              </div>
              <div class="flex items-center gap-xs">
                <span class="material-symbols-outlined" aria-hidden="true">
                  location_on
                </span>
                Location Information
              </div>
            </div>
          </a>
          <a href="#" class="event flow bg-blue invert py-l px-l">
            <div class="event__date h3">May 10</div>
            <h3 class="event__title font-base text-step-0">
              Announcement Heading (8-10 Words) — Lorem Ipsum Dolor sit
            </h3>
            <div class="event__details">
              <div class="flex items-center gap-xs">
                <span class="material-symbols-outlined" aria-hidden="true">
                  schedule
                </span>
                10:00 am - 3:00 pm
              </div>
              <div class="flex items-center gap-xs">
                <span class="material-symbols-outlined" aria-hidden="true">
                  location_on
                </span>
                Location Information
              </div>
            </div>
          </a>
          <a href="#" class="event flow bg-blue invert py-l px-l">
            <div class="event__date h3">May 10</div>
            <h3 class="event__title font-base text-step-0">
              Announcement Heading (8-10 Words) — Lorem Ipsum Dolor sit
            </h3>
            <div class="event__details">
              <div class="flex items-center gap-xs">
                <span class="material-symbols-outlined" aria-hidden="true">
                  schedule
                </span>
                10:00 am - 3:00 pm
              </div>
              <div class="flex items-center gap-xs">
                <span class="material-symbols-outlined" aria-hidden="true">
                  location_on
                </span>
                Location Information
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>

  {% include '@components/testimonial-carousel.html' %}

  {% include '@components/cta-panel.html' %}
</main>
{% endblock %}
