{% set page = { title: 'Cost & Aid' } %}
{% extends '@layouts/base.html' %}

{% block body %}

<main id="main-content">
  {% set vars = {
    'pageTitle': 'Cost & Aid',
    'image': '../img/cost-hero.jpg',
    'announcement': 'true'
  }
  %}
  {% include
  '@components/hero-secondary.html' with vars %}

  <div class="region stats-bg" style="background-image: url('../img/stats-bg.jpg');">
    <div class="wrapper">
      {% include '@components/stats.html' %}
    </div>
  </div>

  <div class="content__blue bg-blue-dark invert py-[50px]">
    <div class="wrapper">
      <div class="feature-panel">
        <div class="feature-panel__img">
          <div class="frame relative" data-ratio="1:1">
            <img src="../img/router-panel2.jpg" alt="placeholder">
          </div>
        </div>
        <div class="feature-panel__content">
          <h2 class="feature-panel__heading">Router Panel Variation 2</h2>
          <ul class="reset router-list">
            <li>
              <a href="#" class="button-arrow button-arrow--white">
                <span class="material-symbols-outlined" aria-hidden="true">
                  arrow_forward
                </span>
                Grants
              </a>
            </li>
            <li>
              <a href="#" class="button-arrow button-arrow--white">
                <span class="material-symbols-outlined" aria-hidden="true">
                  arrow_forward
                </span>
                Scholarships
              </a>
            </li>
            <li>
              <a href="#" class="button-arrow button-arrow--white">
                <span class="material-symbols-outlined" aria-hidden="true">
                  arrow_forward
                </span>
                Loans
              </a>
            </li>
            <li>
              <a href="#" class="button-arrow button-arrow--white">
                <span class="material-symbols-outlined" aria-hidden="true">
                  arrow_forward
                </span>
                Work Study
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="region bg-white">
    <div class="wrapper">
      <div class="flow flow-space-l">
        <h2 data-animation="fade-in-up" data-animate>
          Key Dates & Deadlines
        </h2>
        <div class="grid gap-m" data-layout="1/2">
          <div class="event event--alt invert">
            <div class="event__date">
              May
              <span>10</span>
            </div>
            <div class="event__details">
              <h3 class="event__title font-base text-step-0">
                <a href="#">Announcement Heading (8-10 Words) — Lorem Ipsum Dolor sit</a>
              </h3>
            </div>
          </div>
          <div class="event event--alt invert">
            <div class="event__date event__date--range">
              Jul 19
              <span>—</span>
              Aug 3
            </div>
            <div class="event__details">
              <h3 class="event__title font-base text-step-0">
                <a href="#">Announcement Heading (8-10 Words) — Lorem Ipsum Dolor sit</a>
              </h3>
            </div>
          </div>
          <div class="event event--alt invert">
            <div class="event__date">
              Sep
              <span>24</span>
            </div>
            <div class="event__details">
              <h3 class="event__title font-base text-step-0">
                <a href="#">Announcement Heading (8-10 Words) — Lorem Ipsum Dolor sit</a>
              </h3>
            </div>
          </div>
          <div class="event event--alt invert">
            <div class="event__date">
              Dec
              <span>13</span>
            </div>
            <div class="event__details">
              <h3 class="event__title font-base text-step-0">
                <a href="#">Announcement Heading (8-10 Words) — Lorem Ipsum Dolor sit</a>
              </h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="content__blue invert py-[50px]">
    <div class="wrapper">
      <div class="feature-panel">
        <div
          class="feature-panel__img"
        >
          <img src="../img/feature-panel1.jpg" alt="placeholder">
          <a
            class="button-arrow button-arrow--white button-arrow--play z-10 absolute"
            href="https://www.youtube.com/watch?v=oklVBLlQs5k"
            data-minimodal=""
            data-minimodal-caption="Caption — Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
          >
            <span class="material-symbols-outlined icon-fill" aria-hidden="true">
              play_arrow
            </span>
            Watch Video
          </a>
        </div>
        <div class="feature-panel__content">
          <div class="advantage__title">
            <span></span>
            <h2>The Indiana State Advantage</h2>
          </div>
          <h2 class="feature-panel__heading">Feature Panel Variation 1</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </p>

          <a href="#" class="button"> CTA </a>
        </div>
      </div>
    </div>
  </div>

  <div class="content__blue-dark bg-blue-dark invert py-[50px]">
    <div class="wrapper">
      <div class="feature-panel feature-panel--swap">
        <div
          class="feature-panel__img"
        >
          <img src="../img/feature-panel2.jpg" alt="placeholder">
          <a
            class="button-arrow button-arrow--white button-arrow--play z-10 absolute"
            href="https://www.youtube.com/watch?v=oklVBLlQs5k"
            data-minimodal=""
            data-minimodal-caption="Caption — Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
          >
            <span class="material-symbols-outlined icon-fill" aria-hidden="true">
              play_arrow
            </span>
            Watch Video
          </a>
        </div>
        <div class="feature-panel__content">
          <div class="advantage__title">
            <span></span>
            <h2>The Indiana State Advantage</h2>
          </div>
          <h2 class="feature-panel__heading">Feature Panel Variation 2</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </p>

          <a href="#" class="button button--blue"> CTA </a>
        </div>
      </div>
    </div>
  </div>
  <div class="py-[50px]">
    <div class="wrapper">
      <div class="feature-panel feature-panel--swap">
        <div class="feature-panel__img">
          <img src="../img/feature-panel2.jpg" alt="placeholder">
          <a class="button-arrow button-arrow--white button-arrow--play z-10 absolute"
            href="https://www.youtube.com/watch?v=oklVBLlQs5k" data-minimodal=""
            data-minimodal-caption="Caption — Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.">
            <span class="material-symbols-outlined icon-fill" aria-hidden="true">
              play_arrow
            </span>
            Watch Video
          </a>
        </div>
        <div class="feature-panel__content">
          <div class="advantage__title">
            <span></span>
            <h2>The Indiana State Advantage</h2>
          </div>
          <h2 class="feature-panel__heading">Feature Panel Variation 2</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </p>

          <a href="#" class="button"> CTA </a>
        </div>
      </div>
    </div>
  </div>

  {% include '@components/cta-panel.html' %}
</main>
{% endblock %}
