{% set page = { title: 'Program Finder' } %}
{% extends '@layouts/base.html' %}

{% block body %}
  <script>
    var jsonUrl = "/json/programs.json";
  </script>

  <div class="absolute top-[5rem] px-s xl:top-[10rem] xl:px-l">
    <div class="breadcrumbs invert">
      <div class="py-s">
        <ul class="reset cluster">
          <li class="breadcrumbs__home">
            <a href="#" aria-label="Home page" /></a>
          </li>
          <li>
            Program Finder
          </li>
        </ul>
      </div>
    </div>
  </div>

  <main id="main-content" class="programs-finder flow" data-program-finder data-grid data-program-finder-title="Academic Program Finder" data-program-finder-intro="Intro Text — Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Placerat orci nulla pellentesque dignissim enim sit amet. Viverra accumsan in nisl nisi.">

  </main>

{% endblock %}
