{% set page = { title: 'Tertiary No Hero' } %}

{% extends '@layouts/base.html' %} {%
block body %}

<div class="px-s xl:px-l">
  {% include '@components/breadcrumbs.html' %}
</div>
<div class="hero hero--sub invert">
  <div class="wrapper">
    <div class="hero__container">
      <div class="lg:z-10 lg:flex lg:items-center lg:gap-xl">
        <div class="flow flow-space-2xl">
          <div class="flow lg:flex">
            <h1 class="hero__headline">
              {{ page.title ?? 'Current Page' }}
            </h1>
          </div>
          <p class="intro lg:w-75">
            Intro Text — Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Placerat orci nulla pellentesque dignissim enim sit amet. Viverra accumsan.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<main id="main-content">
  {% include '@components/tertiary-components.html' %}
</main>

{% endblock %}
