.svg,
.video {
  display: block;
  position: relative;

  &::before {
    content: "";
    display: block;
  }

  & iframe,
  & svg,
  & video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.svg {
  &::before {
    padding-top: 100%;
  }
}

.video {
  &::before {
    padding-top: 56.25%;
  }
}

.screen-reader-text {
  @mixin hide;
}

.svg--logo {
  &::before {
    padding-top: 25%;
    @media (--xl) {
      padding-top: 19%;
    }
  }
}

.skip-link {
  border-bottom-right-radius: 0.3rem;
  color: rgb(var(--white));
  font-family: $serif;
  font-size: 1.5rem;
  height: 0.1rem;
  left: -10000rem;
  outline: 0;
  overflow: hidden;
  padding: 0.5rem 1rem;
  position: absolute;
  top: -2rem;
  transition: top 1s ease-out;
  width: 0.1rem;
  z-index: 100;
  &:focus {
    background-color: rgb(var(--black));
    color: rgb(var(--white));
    height: auto;
    left: 0;
    top: 0;
    transition: top .1s ease-in;
    width: auto;
  }
}

/* [data-animation='fade-in-up'] {
  animation: fade-in-up 1000ms ease;
}

[data-animation='slide-in'] {
  animation: slide-in 1000ms cubic-bezier(0.65, 0, 0.35, 1) both;
}

[data-animation='slide-left-fade'] {
  animation: slide-left-fade 700ms ease both;
}

[data-animation='slide-right-fade'] {
  animation: slide-right-fade 700ms ease both;
}

[data-animate] {
  animation-play-state: paused;
}

[data-animate='true'] {
  animation-play-state: running;
} */

.noscroll {
  overflow: hidden;
}

.icon-fill {
  font-variation-settings:
  'FILL' 1;
}


.image__arrow {
  height: 7.5rem;
  width: 6.25rem;
  position: absolute;
  z-index: 2;
  left: 0;
  right: 0;
  top: -3.15rem;
  margin: 0 auto;

  span {
    transform: rotate(-90deg);
  }

  @media (--lg) {
    top: -7.95rem;
    height: 18.75rem;
    width: 15.75rem;
  }
}

.bordered-flex {
  > div:first-child {
    border-bottom: .0625rem solid rgb(var(--white));
    padding-bottom: var(--space-xl);

    @media (--lg) {
      padding-bottom: none;
      padding-right: var(--space-xl);
      border-bottom: none;
      border-right: .0625rem solid rgb(var(--white));
    }
  }
}
