@define-mixin h1 {
  font-family: var(--heading);
  font-size: var(--size-step-4);
  font-weight: 700;
  line-height: 1.1;
  color: rgb(var(--blue-dark));
  .invert & {
    color: rgb(var(--light));
  }
}

@define-mixin h2 {
  font-family: var(--heading);
  font-size: var(--size-step-3);
  font-weight: 700;
  line-height: 1.3;
  color: rgb(var(--blue-dark));
  .invert & {
    color: rgb(var(--light));
  }
}

@define-mixin h3 {
  font-family: var(--heading);
  font-size: var(--size-step-2);
  font-weight: 700;
  line-height: 1.3;
  color: rgb(var(--blue-dark));
  .invert & {
    color: rgb(var(--light));
  }
}

@define-mixin h4 {
  font-family: var(--heading);
  font-size: var(--size-step-1);
  font-weight: 700;
  line-height: 1.3;
  color: rgb(var(--blue-dark));
  .invert & {
    color: rgb(var(--light));
  }
}

@define-mixin h5 {
  font-family: var(--heading);
  font-size: var(--size-step-0);
  font-weight: 700;
  line-height: 1.3;
  letter-spacing: 0.156rem;
  text-transform: uppercase;
  color: rgb(var(--blue-dark));
  .invert & {
    color: rgb(var(--light));
  }
}

@define-mixin h6 {
  font-family: var(--heading);
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.3;
  color: rgb(var(--blue-dark));
  .invert & {
    color: rgb(var(--light));
  }
}

@define-mixin text-xs {
  color: inherit;
  font-size: 0.875rem;
  font-weight: normal;
  line-height: 1.714;
  text-transform: none;
}

@define-mixin text-sm {
  color: inherit;
  font-size: 0.938rem;
  font-weight: normal;
  line-height: 1.4;
  text-transform: none;
}

@define-mixin text-md {
  color: inherit;
  font-size: 1.125rem;
  font-weight: normal;
  line-height: 1.5;
  text-transform: none;
}

@define-mixin intro {
  color: inherit;
  font-size: 1.25rem;
  line-height: 1.6;
  text-transform: none;

  @media (--lg) {
    font-size: 1.5635rem;
  }
}

@define-mixin intro-s {
  color: inherit;
  font-size: 1.2rem;
  font-weight: bold;
  line-height: 1.6;
  text-transform: none;
}

@define-mixin underline {
  line-height: 220%;
  box-shadow: 0 0.2em rgb(var(--red));
  transition: box-shadow 400ms ease;
  &:hover {
    box-shadow: 0 0.3em rgb(var(--red));
  }
}


@define-mixin clear {
  &::after {
    content: "";
    display: block;
    clear: both;
  }
}

@define-mixin hide {
  &:not(:focus, :active) {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    white-space: nowrap;
  }
}

@define-mixin zero {
  & > :first-child {
    margin-top: 0;
  }

  & > :last-child {
    margin-bottom: 0;
  }
}

@define-mixin container $width: 80rem {
  width: 100%;
  /* max-width: $width;
  margin-right: auto;
  margin-left: auto; */
  
  margin-left: auto;
  margin-right: auto;
  max-width: var(--wrapper-max-width,80rem);
  padding-left: 1.5rem;
  padding-right: 1.5rem;

  @media (--lg) {
    padding-left: var(--gutter);
    padding-right: var(--gutter);
  }
}

@define-mixin inline-svg $img, $fill: black, $size: contain {
  background-image: svg-load("$img.svg", fill: $fill);
  background-position: center;
  background-repeat: no-repeat;
  background-size: $size;
}

@define-mixin button {
  font-size: 1.25rem;
  line-height: 1.2;
  font-family: var(--body);
  font-weight: bold;

  display: inline-block;
  border: 0;
  padding: 1rem 3rem;
  background: rgb(var(--blue-dark));
  color: rgb(var(--white));
  text-align: center;
  text-decoration: none;
  transition: all var(--transition);

  &:hover {
    color: rgb(var(--blue-dark));
    background: rgb(var(--white));
  }
}
