/* dependencies */
@import "normalize.css";
@import 'minimodal';

/* utilities */
@import "util/fonts";
@import "util/variables";
@import "util/mixins";
@import "util/base";
@import "util/helpers";
@import "util/animate";
@import "util/minimodal";
@import "util/flickity";
@import "util/swiper";
@import "util/layout";

@import 'tailwindcss/components';

/* compositions */
@import "compositions/cluster";
@import "compositions/flow";
@import "compositions/frame";
@import "compositions/grid";
@import "compositions/region";
@import "compositions/sidebar";
@import "compositions/switcher";

/* components */
@import "components/accordion";
@import "components/announcement";
@import "components/alert";
@import "components/breadcrumbs";
@import "components/button";
@import "components/content";
@import "components/event";
@import "components/feature";
@import "components/feature-panel";
@import "components/filter";
@import "components/footer";
@import "components/form";
@import "components/header";
@import "components/hero";
@import "components/image-carousel";
@import "components/media";
@import "components/menu-sidebar";
@import "components/pagination";
@import "components/program";
@import "components/pullquote";
@import "components/results";
@import "components/routing-panel";
@import "components/router-list";
@import "components/secondary-menu";
@import "components/stats-panel";
@import "components/table";
@import "components/tasks";
@import "components/testimonial";
@import "components/testimonial-carousel";
@import "components/video";


@import "components/print";

@import 'tailwindcss/utilities';
