<div class="alert alert--urgent flow">
  <div class="alert__main">
    <div class="flex items-center">
      <span class="material-symbols-outlined text-step-2 icon" aria-hidden="true">
        info
      </span>
      <strong>Urgent Announcement</strong>
    </div>
  </div>
  <button class="alert__button icon-button" aria-expanded="true" data-alert-toggle>
    <span class="screen-reader-text">Toggle</span>
    <span class="material-symbols-outlined icon" aria-hidden="true">
      play_arrow
    </span>
  </button>
  <div class="alert__expand mt-xs">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
    <div class="alert__side">
      <a href="#" class="button button--light button--sm">Call to Action</a>
    </div>
  </div>
</div>

<div class="alert alert--primary justify-center flow">
  <div class="alert__main alert__main--alt">
    <span class="font-bold">Watch Live:</span><a href="#">Ribbon Cutting Ceremony for New Nursing Facility</a>
  </div>
  <button class="alert__button" data-alert-close>
    <span class="screen-reader-text">Close</span>
    <span class="material-symbols-outlined icon" aria-hidden="true">
      close
    </span>
  </button>
</div>
