<div class="card-stack">
  <div class="split-heading sidebar">
    <div class="card-stack__title">
      {{ inline_svg('advantage-logo') }}
      <h2>The Indiana State Advantage</h2>
    </div>
    <p>The Indiana State Advantage isn't just a commitment to affordability - it's a guarantee that incoming, first-time, full-time students will graduate in four years and enjoy the world-class, Indiana State college experience.</p>
  </div>

  <div id="card-stack__cards">
    <div class="card-stack__card" id="card-stack__card1">
      <div class="card-stack__card-content">
        <div class="card-stack__card-details">
          <div class="t-eyebrow">THE INDIANA STATE ADVANTAGE</div>
          <h3>Tuition-Free Guarantee</h3>
          <p>The Indiana State Advantage isn’t just a commitment to affordability – it’s a guarantee that incoming, first-time, full-time students will graduate in four years and enjoy the world-class, Indiana State college experience.</p>
          <p><a href="#" class="button">Indiana State Advantage Details</a></p>
        </div>
        <figure class="card-stack__card-image">
          <img src="../img/image1.jpg" alt="Image description">
        </figure>
      </div>
    </div>
    <div class="card-stack__card" id="card-stack__card2">
      <div class="card-stack__card-content">
        <div class="card-stack__card-details">
          <div class="t-eyebrow">THE INDIANA STATE ADVANTAGE</div>
          <h3>Experience Guarantee</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Donec enim diam vulputate ut pharetra sit amet aliquam. Non diam phasellus vestibulum lorem sed risus. </p>
          <p><a href="#" class="button">Call to Action</a></p>
        </div>
        <figure class="card-stack__card-image">
          <img src="../img/image1.jpg" alt="Image description">
        </figure>
      </div>
    </div>
    <div class="card-stack__card" id="card-stack__card3">
      <div class="card-stack__card-content">
        <div class="card-stack__card-details">
          <div class="t-eyebrow">THE INDIANA STATE ADVANTAGE</div>
          <h3>Graduation Guarantee</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Donec enim diam vulputate ut pharetra sit amet aliquam. Non diam phasellus vestibulum lorem sed risus. </p>
          <p><a href="#" class="button">Call to Action</a></p>
        </div>
        <figure class="card-stack__card-image">
          <img src="../img/image1.jpg" alt="Image description">
        </figure>
      </div>
    </div>
    <div class="card-stack__card-spacer"></div>
  </div>
</div>
