<div class="explore__wrapper">
  <div class="explore">
    <div class="explore__container wrapper">
      <div class="explore__content">
        <h2>Explore Programs</h2>
        <p>At Indiana State, finding your passion is a journey—not a prerequisite. Take the first step by discovering our undergraduate majors and graduate programs, including many fully online degrees.</p>
      </div>
      <div class="explore__form flow">
        <form>
          <label for="exploreSearch" class="h4">Search by keyword</label>
          <div class="explore__input-wrapper">
            <input id="exploreSearch" class="explore__input" type="text" name="exploreSearch">
            <button type="submit" class="explore__submit">
              <span class="screen-reader-text">Submit program keyword search</span>
            </button>
          </div>
        </form>
        <div class="explore__buttons">
          <a href="#" class="button">Undergraduate</a>
          <a href="#" class="button">Graduate</a>
          <a href="#" class="button">Online</a>
        </div>
      </div>
    </div>
  </div>
</div>