<div class="feature-carousel">
  <div class="split-heading sidebar invert">
    <h2>You Belong</h2>
    <p>Indiana State offers the perfect environment for your personal and academic growth. Join us and become part of a vibrant community that nurtures growth, fosters innovation, and cultivates success.</p>
  </div>
  <div class="feature-carousel__carousel">

    <div class="feature-carousel__item">
      <div class="feature-carousel__item-content flow flow-space-xs">
        <h3>Join the Most Diverse Student Body in Indiana</h3>
        <p>Thrive in an inclusive community that fosters meaningful connections.</p>
        <p><a href="#" class="button button--blue">Commitment to Diversity Equity & Inclusion</a></p>
      </div>
      <div class="feature-carousel__item-image">
        <img src="../img/image1.jpg" alt="Image description">
      </div>
    </div>

    <div class="feature-carousel__item">
      <div class="feature-carousel__item-content flow">
        <h3>Branch Out and Immerse Yourself in the Sycamore Spirit</h3>
        <p>200+ student organizations, Greek life, NCAA Division I sports, and rich student traditions.</p>
        <p><a href="#" class="button button--blue">Discover Student Life</a></p>
      </div>
      <div class="feature-carousel__item-image">
        <img src="../img/image2.jpg" alt="Image description">
      </div>
    </div>

    <div class="feature-carousel__item">
      <div class="feature-carousel__item-content flow">
        <h3>Nurture Your Growth Through Our Supportive Network</h3>
        <p>From health and wellness services to career planning and academic support, Indiana State is here for you.</p>
        <p><a href="#" class="button button--blue">Explore Support Services</a></p>
      </div>
      <div class="feature-carousel__item-image">
        <img src="../img/image3.jpg" alt="Image description">
      </div>
    </div>

  </div>
</div>