<div class="menu-sidebar">
  <h2 class="menu-sidebar__heading">
    <span>Menu</span>
  </h2>
  <button class="menu-sidebar__toggle dropdown" aria-expanded="false" data-popup>
    <span class="hamburger">
      <span class="line"></span>
      <span class="line"></span>
      <span class="line"></span>
    </span>
    <span>Menu</span>
  </button>
  <ul class="reset menu-sidebar__menu">
    <li><a href="#">Side Navigation Link (Sibling)</a></li>
    <li><a href="#">Side Navigation Link (Sibling)</a></li>
    <li><a href="#">Side Navigation Link (Sibling)</a></li>
    <li>
      <div class="active">
        Side Navigation Label (Current Page)
      </div>
      <ul class="reset">
        <li><a href="#">Child Navigation Link</a></li>
        <li><a href="#">Child Navigation Link</a></li>
        <li><a href="#">Child Navigation Link</a></li>
      </ul>
    </li>
    <li><a href="#">Side Navigation Link (Sibling)</a></li>
    <li><a href="#">Side Navigation Link (Sibling)</a></li>
  </ul>
</div>