<div class="content__half-white py-xl mb-2xl">
  <div class="routing-panel__container">
    <h2 class="routing-panel__heading">You Belong Here</h2>
    <ul class="routing-panel">
      <li class="routing-panel__block flow flow-space-m">
        <a href="#" class="routing-panel__link flow">
          <div class="routing-panel__frame">
            <img src="../img/belong1.jpg" alt="placehold">
            <div class="routing-panel__box"></div>
          </div>
          <h3>Student Life</h3>
        </a>
        <div class="routing-panel__content flow-space-3xs">
          <p>200+ student organizations, Greek life, NCAA Division I sports, and a state-of-the-art rec center. There’s always something
            happening.</p>
          </div>
        </li>
        <li class="routing-panel__block flow flow flow-space-m">
          <a href="#" class="routing-panel__link flow">
            <div class="routing-panel__frame">
              <img src="../img/belong2.jpg" alt="placehold">
              <div class="routing-panel__box"></div>
            </div>
            <h3>Diversity Equity &amp; Inclusion</h3>
          </a>
          <div class="routing-panel__content flow-space-3xs">
            <p>We’re proud to have the most diverse student body of any university in Indiana. Our warm, welcoming culture strengthens our
              commitment to equity and inclusion.</p>
            </div>
          </li>
          <li class="routing-panel__block flow flow flow-space-m">
            <a href="#" class="routing-panel__link flow">
              <div class="routing-panel__frame">
                <img src="../img/belong3.jpg" alt="placehold">
                <div class="routing-panel__box"></div>
              </div>
              <h3>Supportive Services</h3>
            </a>
            <div class="routing-panel__content flow-space-3xs">
              <p>From health and wellness services to career planning and academic support, we’re here for you.</p>
            </div>
          </li>
        </ul>
      </div>

    </div>
