<div class="header__search{% if sticky %} header__search--sticky{% endif %}">
  <p class="header__heading">What can we help you find?</p>
  <form class="header__search__form">
    <label class="header__search__label">
      <span class="screen-reader-text">Search</span>
      <input type="search" id="search-main" class="header__search__input" placeholder="Search">
    </label>
    <button class="header__search__submit">
      <span class="material-symbols-outlined">
        search
      </span>
      <span class="header__search__submit__text">
        Search
      </span>
    </button>
  </form>
  <p class="header__search__result">
    Top Searches
  </p>
  <ul class="header__search__list">
    <li>
      <a href="#" class="button button-rounded">Academic Calendar</a>
    </li>
    <li>
      <a href="#" class="button button-rounded">Housing</a>
    </li>
    <li>
      <a href="#" class="button button-rounded">Transcripts</a>
    </li>
    <li>
      <a href="#" class="button button-rounded">Library</a>
    </li>
    <li>
      <a href="#" class="button button-rounded">Employment</a>
    </li>
  </ul>
</div>
