<div class="content__blue invert py-[75px] lg:mt-2xl">
  <div class="wrapper">
    <div class="feature-panel">
      <div
        class="feature-panel__img feature-panel__img--wide feature-panel__img--pull overlay-gradient-blue"
      >
        <img src="../img/feature-panel1.jpg" alt="placeholder">
        <a
          class="button-arrow button-arrow--white button-arrow--play absolute z-10 bottom-xs left-xs"
          href="https://www.youtube.com/watch?v=oklVBLlQs5k"
          data-minimodal=""
          data-minimodal-caption="Caption — Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
        >
          <span class="material-symbols-outlined icon-fill" aria-hidden="true">
            play_arrow
          </span>
          Watch Video
        </a>
      </div>
      <div class="feature-panel__content flow flow-space-xs">
        <h2 class="feature-panel__heading">Feature Panel Variation 1</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>

        <a href="#" class="button"> CTA </a>
      </div>
    </div>
  </div>
</div>

<div class="content__blue-dark bg-blue-dark invert py-[75px] lg:mt-2xl">
  <div class="wrapper">
    <div class="feature-panel feature-panel--swap">
      <div
        class="feature-panel__img feature-panel__img--wide feature-panel__img--pull overlay-gradient-blue-dark"
      >
        <img src="../img/feature-panel2.jpg" alt="placeholder">
        <a
          class="button-arrow button-arrow--white button-arrow--play absolute z-10 bottom-xs left-xs"
          href="https://www.youtube.com/watch?v=oklVBLlQs5k"
          data-minimodal=""
          data-minimodal-caption="Caption — Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
        >
          <span class="material-symbols-outlined icon-fill" aria-hidden="true">
            play_arrow
          </span>
          Watch Video
        </a>
      </div>
      <div class="feature-panel__content">
        <h2 class="feature-panel__heading">Feature Panel Variation 1</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>

        <a href="#" class="button button--blue"> CTA </a>
      </div>
    </div>
  </div>
</div>

<div class="content__blue bg-blue invert py-[75px] lg:mt-l lg:py-[200px]">
  <div class="wrapper">
    <div class="feature-panel feature-panel--swap">
      <div class="feature-panel__img">
        <div>
          <div class="frame relative" data-ratio="3:2">
            <img src="../img/router-panel1.jpg" alt="placeholder">
          </div>
        </div>
        <div class="image__arrow" data-animation="slide-left-fade" data-animate>
          {{ inline_svg('Large-Arrow') }}
        </div>
      </div>
      <div class="feature-panel__content">
        <h2 class="feature-panel__heading">Router Panel Variation 1</h2>
        <ul class="reset router-list">
          <li>
            <a href="#" class="button-arrow button-arrow--white">
              <span class="material-symbols-outlined" aria-hidden="true">
                arrow_forward
              </span>
              Grants
            </a>
          </li>
          <li>
            <a href="#" class="button-arrow button-arrow--white">
              <span class="material-symbols-outlined" aria-hidden="true">
                arrow_forward
              </span>
              Scholarships
            </a>
          </li>
          <li>
            <a href="#" class="button-arrow button-arrow--white">
              <span class="material-symbols-outlined" aria-hidden="true">
                arrow_forward
              </span>
              Loans
            </a>
          </li>
          <li>
            <a href="#" class="button-arrow button-arrow--white">
              <span class="material-symbols-outlined" aria-hidden="true">
                arrow_forward
              </span>
              Work Study
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="content__blue bg-blue-dark invert py-[75px] lg:py-[200px]">
  <div class="wrapper">
    <div class="feature-panel">
      <div class="feature-panel__img">
        <div>
          <div class="frame relative" data-ratio="3:2">
            <img src="../img/router-panel2.jpg" alt="placeholder">
          </div>
        </div>
        <div class="image__arrow" data-animation="slide-left-fade" data-animate>
          {{ inline_svg('Large-Arrow') }}
        </div>
      </div>
      <div class="feature-panel__content">
        <h2 class="feature-panel__heading">Router Panel Variation 2</h2>
        <ul class="reset router-list">
          <li>
            <a href="#" class="button-arrow button-arrow--white">
              <span class="material-symbols-outlined" aria-hidden="true">
                arrow_forward
              </span>
              Grants
            </a>
          </li>
          <li>
            <a href="#" class="button-arrow button-arrow--white">
              <span class="material-symbols-outlined" aria-hidden="true">
                arrow_forward
              </span>
              Scholarships
            </a>
          </li>
          <li>
            <a href="#" class="button-arrow button-arrow--white">
              <span class="material-symbols-outlined" aria-hidden="true">
                arrow_forward
              </span>
              Loans
            </a>
          </li>
          <li>
            <a href="#" class="button-arrow button-arrow--white">
              <span class="material-symbols-outlined" aria-hidden="true">
                arrow_forward
              </span>
              Work Study
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="region content__top-blue">
  <div class="routing-panel__container">
    <h2 class="routing-panel__heading text-blue-dark">Headline (2-Up Panel)</h2>
    <ul class="routing-panel invert">
      <li class="routing-panel__block flow flow flow-space-m">
        <div class="routing-panel__frame overlay-gradient-blue">
          <img src="../img/headline-panel1.jpg" alt="placehold">
        </div>
        <h3>World Class Experience</h3>
        <div class="routing-panel__content flow flow flow-space-2xs">
          <p>
            Sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt. Sit amet, consectetur adipiscing elit.
          </p>
          <a href="#" class="button-arrow button-arrow--white">
            <span class="material-symbols-outlined" aria-hidden="true">
              arrow_forward
            </span>
            Optional Link
          </a>
        </div>
      </li>
      <li class="routing-panel__block flow flow flow-space-m">
        <div class="routing-panel__frame overlay-gradient-blue">
          <img src="../img/headline-panel2.jpg" alt="placehold">
        </div>
        <h3>Four-Year Guarantee</h3>
        <div class="routing-panel__content flow flow flow-space-2xs">
          <p>
            Sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt. Sit amet, consectetur adipiscing elit.
          </p>
          <a href="#" class="button-arrow button-arrow--white">
            <span class="material-symbols-outlined" aria-hidden="true">
              arrow_forward
            </span>
            Optional Link
          </a>
        </div>
      </li>
    </ul>
  </div>
</div>

<div class="region bg-blue invert">
  <div class="routing-panel__container">
    <h2 class="routing-panel__heading">
      Visual Router Grid Variation 1
    </h2>
    <ul class="routing-panel grid" data-layout="1/3">
      <li class="routing-panel__block">
        <a href="#" class="routing-panel__link flow flow-space-m">
          <div class="routing-panel__frame">
            <img src="../img/image1.jpg" alt="placehold">
            <div class="routing-panel__box"></div>
          </div>
          <h3>First Year</h3>
        </a>
        <div class="routing-panel__content flow-space-3xs">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </p>
        </div>
      </li>
      <li class="routing-panel__block flow">
        <a href="#" class="routing-panel__link flow flow-space-m">
          <div class="routing-panel__frame">
            <img src="../img/image2.jpg" alt="placehold">
            <div class="routing-panel__box"></div>
          </div>
          <h3>Graduate</h3>
        </a>
        <div class="routing-panel__content flow-space-3xs">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </p>
        </div>
      </li>
      <li class="routing-panel__block flow">
        <a href="#" class="routing-panel__link flow flow-space-m">
          <div class="routing-panel__frame">
            <img src="../img/image3.jpg" alt="placehold">
            <div class="routing-panel__box"></div>
          </div>
          <h3>Transfer</h3>
        </a>
        <div class="routing-panel__content flow-space-3xs">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </p>
        </div>
      </li>
      <li class="routing-panel__block flow">
        <a href="#" class="routing-panel__link flow flow-space-m">
          <div class="routing-panel__frame">
            <img src="../img/image4.jpg" alt="placehold">
            <div class="routing-panel__box"></div>
          </div>
          <h3>International</h3>
        </a>
        <div class="routing-panel__content flow-space-3xs">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </p>
        </div>
      </li>
      <li class="routing-panel__block flow">
        <a href="#" class="routing-panel__link flow flow-space-m">
          <div class="routing-panel__frame">
            <img src="../img/image5.jpg" alt="placehold">
            <div class="routing-panel__box"></div>
          </div>
          <h3>U.S. Military & Veteran</h3>
        </a>
        <div class="routing-panel__content flow-space-3xs">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </p>
        </div>
      </li>
      <li class="routing-panel__block flow">
        <a href="#" class="routing-panel__link flow flow-space-m">
          <div class="routing-panel__frame">
            <img src="../img/image6.jpg" alt="placehold">
            <div class="routing-panel__box"></div>
          </div>
          <h3>Non-Degree and Dual Enrollment</h3>
        </a>
        <div class="routing-panel__content flow-space-3xs">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </p>
        </div>
      </li>
    </ul>
  </div>
</div>

<div class="region bg-white">
  <div class="routing-panel__container">
    <h2 class="routing-panel__heading text-blue-dark">
      Visual Router Grid Variation 2
    </h2>
    <ul class="routing-panel grid" data-layout="1/3">
      <li class="routing-panel__block flow">
        <a href="#" class="routing-panel__link flow flow-space-m">
          <div class="routing-panel__frame">
            <img src="../img/image1.jpg" alt="placehold">
            <div class="routing-panel__box"></div>
          </div>
          <h3>First Year</h3>
        </a>
        <div class="routing-panel__content flow-space-3xs">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </p>
        </div>
      </li>
      <li class="routing-panel__block flow">
        <a href="#" class="routing-panel__link flow flow-space-m">
          <div class="routing-panel__frame">
            <img src="../img/image2.jpg" alt="placehold">
            <div class="routing-panel__box"></div>
          </div>
          <h3>Graduate</h3>
        </a>
        <div class="routing-panel__content flow-space-3xs">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </p>
        </div>
      </li>
      <li class="routing-panel__block flow">
        <a href="#" class="routing-panel__link flow flow-space-m">
          <div class="routing-panel__frame">
            <img src="../img/image3.jpg" alt="placehold">
            <div class="routing-panel__box"></div>
          </div>
          <h3>Transfer</h3>
        </a>
        <div class="routing-panel__content flow-space-3xs">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </p>
        </div>
      </li>
      <li class="routing-panel__block flow">
        <a href="#" class="routing-panel__link flow flow-space-m">
          <div class="routing-panel__frame">
            <img src="../img/image4.jpg" alt="placehold">
            <div class="routing-panel__box"></div>
          </div>
          <h3>International</h3>
        </a>
        <div class="routing-panel__content flow-space-3xs">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </p>
        </div>
      </li>
      <li class="routing-panel__block flow">
        <a href="#" class="routing-panel__link flow flow-space-m">
          <div class="routing-panel__frame">
            <img src="../img/image5.jpg" alt="placehold">
            <div class="routing-panel__box"></div>
          </div>
          <h3>U.S. Military & Veteran</h3>
        </a>
        <div class="routing-panel__content flow-space-3xs">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </p>
        </div>
      </li>
      <li class="routing-panel__block flow">
        <a href="#" class="routing-panel__link flow flow-space-m">
          <div class="routing-panel__frame">
            <img src="../img/image6.jpg" alt="placehold">
            <div class="routing-panel__box"></div>
          </div>
          <h3>Non-Degree and Dual Enrollment</h3>
        </a>
        <div class="routing-panel__content flow-space-3xs">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </p>
        </div>
      </li>
    </ul>
  </div>
</div>

<div class="region bg-white">
  <div class="wrapper">
    <div class="flow flow-space-l">
      <div class="flex flex-col gap-s lg:flex-row lg:justify-between lg:items-center" data-animation="fade-in-up" data-animate>
        <h2>Headline (Events) Variation 1</h2>
        <div class="lg:text-right">
          <a class="button button--primary" href="#">Explore All Events</a>
        </div>
      </div>
      <div class="grid grid--events gap-m" data-layout="1/3">
        <a href="#" class="event flow bg-blue invert py-l px-m">
          <div class="event__date h3">May 10</div>
          <h3 class="event__title font-base text-step-0">
            Announcement Heading (8-10 Words) — Lorem Ipsum Dolor sit
          </h3>
          <div class="event__details">
            <div class="event flex items-center gap-xs">
              <span class="material-symbols-outlined" aria-hidden="true">
                schedule
              </span>
              10:00 am - 3:00 pm
            </div>
            <div class="flex items-center gap-xs">
              <span class="material-symbols-outlined" aria-hidden="true">
                location_on
              </span>
              Location Information
            </div>
          </div>
        </a>
        <a href="#" class="event flow bg-blue-light py-l px-l">
          <div class="event__date h3">May 10</div>
          <h3 class="event__title font-base text-step-0">
            Announcement Heading (8-10 Words) — Lorem Ipsum Dolor sit
          </h3>
          <div class="event__details">
            <div class="flex items-center gap-xs">
              <span class="material-symbols-outlined" aria-hidden="true">
                schedule
              </span>
              10:00 am - 3:00 pm
            </div>
            <div class="flex items-center gap-xs">
              <span class="material-symbols-outlined" aria-hidden="true">
                location_on
              </span>
              Location Information
            </div>
          </div>
        </a>
        <a href="#" class="event flow bg-blue invert py-l px-l">
          <div class="event__date h3">May 10</div>
          <h3 class="event__title font-base text-step-0">
            Announcement Heading (8-10 Words) — Lorem Ipsum Dolor sit
          </h3>
          <div class="event__details">
            <div class="flex items-center gap-xs">
              <span class="material-symbols-outlined" aria-hidden="true">
                schedule
              </span>
              10:00 am - 3:00 pm
            </div>
            <div class="flex items-center gap-xs">
              <span class="material-symbols-outlined" aria-hidden="true">
                location_on
              </span>
              Location Information
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>

{# <div class="region bg-white">
  <div class="wrapper">
    <div class="flow flow-space-l">
      <div class="flex flex-col gap-s lg:flex-row lg:justify-between lg:items-center" data-animation="fade-in-up" data-animate>
        <h2>Headline (Events) Variation 2</h2>
        <div class="lg:text-right">
          <a class="button button--primary" href="#">Explore All Events</a>
        </div>
      </div>
      <div class="grid gap-zero" data-layout="1/3">
        <a href="#" class="event flow bg-green py-xl px-l">
          <div class="event__date h3">May 10</div>
          <h3 class="event__title text-step-1">
            Announcement Heading (8-10 Words) — Lorem Ipsum Dolor sit
          </h3>
          <div class="event__details">
            <div class="event flex items-center gap-xs">
              <span class="material-symbols-outlined" aria-hidden="true">
                schedule
              </span>
              10:00 am - 3:00 pm
            </div>
            <div class="flex items-center gap-xs">
              <span class="material-symbols-outlined" aria-hidden="true">
                location_on
              </span>
              Location Information
            </div>
          </div>
        </a>
        <a href="#" class="event flow bg-orange py-xl px-l">
          <div class="event__date h3">May 10</div>
          <h3 class="event__title text-step-1">
            Announcement Heading (8-10 Words) — Lorem Ipsum Dolor sit
          </h3>
          <div class="event__details">
            <div class="flex items-center gap-xs">
              <span class="material-symbols-outlined" aria-hidden="true">
                schedule
              </span>
              10:00 am - 3:00 pm
            </div>
            <div class="flex items-center gap-xs">
              <span class="material-symbols-outlined" aria-hidden="true">
                location_on
              </span>
              Location Information
            </div>
          </div>
        </a>
        <a href="#" class="event flow bg-pink py-xl px-l">
          <div class="event__date h3">May 10</div>
          <h3 class="event__title text-step-1">
            Announcement Heading (8-10 Words) — Lorem Ipsum Dolor sit
          </h3>
          <div class="event__details">
            <div class="flex items-center gap-xs">
              <span class="material-symbols-outlined" aria-hidden="true">
                schedule
              </span>
              10:00 am - 3:00 pm
            </div>
            <div class="flex items-center gap-xs">
              <span class="material-symbols-outlined" aria-hidden="true">
                location_on
              </span>
              Location Information
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div> #}

<div class="region bg-white">
  <div class="wrapper">
    <div class="flow flow-space-l">
      <h2 data-animation="fade-in-up" data-animate>
        Headline (Events) Variation 2
      </h2>
      <div class="grid gap-m" data-layout="1/2">
        <a href="#" class="event event--alt invert">
          <div class="event__date">
            May
            <span>10</span>
          </div>
          <div class="event__details">
            <h3 class="event__title font-base text-step-0">
              Announcement Heading (8-10 Words) — Lorem Ipsum Dolor sit
            </h3>
          </div>
        </a>
        <a href="#"  class="event event--alt invert">
          <div class="event__date event__date--range">
            Jul 19
            <span>&mdash;</span>
            Aug 3
          </div>
          <div class="event__details">
            <h3 class="event__title font-base text-step-0">
              Announcement Heading (8-10 Words) — Lorem Ipsum Dolor sit
            </h3>
          </div>
        </a>
        <a href="#"  class="event event--alt invert">
          <div class="event__date">
            Sep
            <span>24</span>
          </div>
          <div class="event__details">
            <h3 class="event__title font-base text-step-0">
              Announcement Heading (8-10 Words) — Lorem Ipsum Dolor sit
            </h3>
          </div>
        </a>
        <a href="#"  class="event event--alt invert">
          <div class="event__date">
            Dec
            <span>13</span>
          </div>
          <div class="event__details">
            <h3 class="event__title font-base text-step-0">
              Announcement Heading (8-10 Words) — Lorem Ipsum Dolor sit
            </h3>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="region bg-white">
  <div class="wrapper">
    <div data-animation="fade-in-up" data-animate>
      <h2 class="h3">Headline (Ordered List)</h2>
      <ol>
        <li>Lorem ipsum dolor</li>
        <li>Sit amet consectetur</li>
        <li>Adipiscing elit morbi interdum</li>
        <li>Turpis in augue consectetur</li>
        <li>Non cursus massa</li>
      </ol>
    </div>

    <div data-animation="fade-in-up" data-animate>
      <h2 class="h3">Headline (Unordered List)</h2>
      <ul>
        <li>Lorem ipsum dolor</li>
        <li>Sit amet consectetur</li>
        <li>Adipiscing elit morbi interdum</li>
        <li>Turpis in augue consectetur</li>
        <li>Non cursus massa</li>
      </ul>
    </div>
  </div>
</div>

{% include '@components/testimonial-carousel.html' %}

{% include '@components/testimonial-carousel-plain.html' %}

{% include '@components/stats-panel.html' %}

<div class="region bg-white">
  <div class="wrapper">
    {% include '@components/image-carousel.html' %}
  </div>
</div>

<div class="region bg-blue-dark invert">
  <div class="wrapper">
    <h2>Accordion</h2>
    {% include '@components/accordion.html' with {dark: true} %}
  </div>
</div>

<div class="region bg-white">
  <div class="wrapper">
    <div class="flow">
      <h2>Paragraph - Body</h2>
      <p>
        Paragraph Text — Lorem ipsum dolor sit amet, cetero aliquam feugiat id
        sea. Ea case nullam consulatu qui, autem abhorreant elaboraret et sit. Pro
        insolens ullamcorper ut. Odio lucilius eam cu, in sea salutandi assentior.
        <a href="#">Inline link</a> bonorum eleifend at nam, ad vis habeo
        periculis. Te quas legere ignota nam, cum et assum alienum. Id has dicunt
        corpora rationibus, vix ullum doming interpretaris ad, quot voluptatibus
        et pro.
      </p>
      <a href="#" class="button">CTA</a>
    </div>
  </div>
</div>

<div class="region bg-white">
  <div class="wrapper">
    <h2>Table</h2>
    {% include '@components/table.html' %}
  </div>
</div>

<div class="region bg-white">
  <div class="wrapper">
    <div class="flow flow-space-l">
      <h3 data-animation="fade-in-up" data-animate>
        Headline (List of Posts)
      </h3>
      <div class="flow flow-space-l bordered">
        <div
          class="feature feature--xs"
          data-direction="rtl"
          data-animation="fade-in-up"
          data-animate
        >
          <div class="frame" data-ratio="3:2">
            <img src="../img/feature1.jpg" alt="placeholder">
          </div>
          <div class="flow flow-space-s">
            <p class="font-bold">Friday, May 22, 2020</p>
            <h4>
              <a href="#" class="font-base text-blue"
                >Subheading (8-10 Words) — Lorem Ipsum dolor Sit Amet Odio
                Lucilius Eam</a
              >
            </h4>
            <p>
              One Sentence Teaser — Lorem ipsum dolor sit amet cetero aliquam
              feugiat id sea, ea case nullam consulatu qui, autem abhorreant
              elaboraret et sit.
            </p>
          </div>
        </div>
        <div
          class="feature feature--xs"
          data-direction="rtl"
          data-animation="fade-in-up"
          data-animate
        >
          <div></div>
          <div class="flow flow-space-s">
            <p class="font-bold">Friday, May 22, 2020</p>
            <h4>
              <a href="#" class="font-base text-blue"
                >Subheading (8-10 Words) — Lorem Ipsum dolor Sit Amet Odio
                Lucilius Eam</a
              >
            </h4>
            <p>
              One Sentence Teaser — Lorem ipsum dolor sit amet cetero aliquam
              feugiat id sea, ea case nullam consulatu qui, autem abhorreant
              elaboraret et sit.
            </p>
          </div>
        </div>
        <div
          class="feature feature--xs"
          data-direction="rtl"
          data-animation="fade-in-up"
          data-animate
        >
          <div class="frame" data-ratio="3:2">
            <img src="../img/feature1.jpg" alt="placeholder">
          </div>
          <div class="flow flow-space-s">
            <p class="font-bold">Friday, May 22, 2020</p>
            <h4>
              <a href="#" class="font-base text-blue"
                >Subheading (8-10 Words) — Lorem Ipsum dolor Sit Amet Odio
                Lucilius Eam</a
              >
            </h4>
            <p>
              One Sentence Teaser — Lorem ipsum dolor sit amet cetero aliquam
              feugiat id sea, ea case nullam consulatu qui, autem abhorreant
              elaboraret et sit.
            </p>
          </div>
        </div>
      </div>
      {% include '@components/pagination.html' %}
    </div>
  </div>
</div>

{% include '@components/cta-panel.html' %}
