<div class="splash-panel__wrapper">
  <div class="splash-panel" style="background-image: url('../img/splash-panel.jpg');">
    <div class="splash-panel__inner">
      <div class="wrapper invert">
        <div class="splash-panel__content">
          <h2>Start Your Journey Today</h2>
          <p>Paragraph Text (1-2 Sentences) — Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
        <div class="flex flex-col gap-s md:flex-row">
          <a href="#" class="button button--blue">Request Info</a>
          <a href="#" class="button button--blue">Visit Virutally</a>
          <a href="#" class="button button--blue">Apply</a>
        </div>
      </div>
    </div>
  </div>
</div>