<div class="stats-panel bg-blue invert">
  <div class="wrapper">
    <div class="stats-panel__image bg-dark">
      <img src="../img/stats-panel-image.jpg" alt="placeholder">
    </div>
    <div class="stats-panel__content relative z-10 flow lg:px-xl">
      <h2 class="text-center">Stats Panel</h2>
      <div class="stats-panel__carousel gap-xl flow-space-2xl lg:flex">
        <div class="stats-panel__item flow flow-space-3xs">
          <div class="h1">92%</div>
          <div class="h3">Placement Rate</div>
          <p>Paragraph Text (1-2 Sentences) — Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
        <div class="stats-panel__item flow flow-space-3xs">
          <div class="h1">$50k</div>
          <div class="h3">Average Starting Salary</div>
          <p>Paragraph Text (1-2 Sentences) — Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
        <div class="stats-panel__item flow flow-space-3xs">
          <div class="h1">#1</div>
          <div class="h3">For Social Mobiltiy</div>
          <p>Paragraph Text (1-2 Sentences) — Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
        <div class="stats-panel__nav">
          <button class="stats-panel__nav__btn stats-panel__previous" aria-label="Previous Slide">
            {{ inline_svg('icon-arrow') }}
          </button>
          <button class="stats-panel__nav__btn stats-panel__next" aria-label="Next Slide">
            {{ inline_svg('icon-arrow') }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
