<div class="stats">
  <div class="split-heading sidebar invert">
    <h2>Rooted in Excellence</h2>
    <p>Just like the sturdy roots of the sycamore tree provide stability and nourishment, Indiana State offers a robust educational foundation. We are invested in your future and dedicated to your success.</p>
  </div>
  <div class="stats__cards flex flex-col gap-[100px] flow-space-2xl lg:flex-row lg:gap-xl">
    <div class="stats__card flow flow-space-3xs">
      <div class="stats__card-banner" aria-hidden="true">
        <img src="/svg/icon-search-doc.svg">
      </div>
      <div class="h2">92%</div>
      <div class="h4">Placement Rate</div>
      <p>Paragraph Text (1-2 Sentences) — Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
    <div class="stats__card flow flow-space-3xs">
      <div class="stats__card-banner" aria-hidden="true">
        <img src="/svg/icon-handshake.svg">
      </div>
      <div class="h2">$50k</div>
      <div class="h4">Average Starting Salary</div>
      <p>Paragraph Text (1-2 Sentences) — Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
    <div class="stats__card flow flow-space-3xs">
      <div class="stats__card-banner" aria-hidden="true">
        {{ inline_svg('arrows-up') }}
        <img src="/svg/arrows-up.svg">
      </div>
      <div class="h2">#1</div>
      <div class="h4">For Social Mobiltiy</div>
      <p>Paragraph Text (1-2 Sentences) — Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
  </div>
</div>