<div class="c-table hscroll">
  
  <table>
    <thead>
      <tr>
        <th class="text-right" colspan="2">Column</th>
        <th>Column</th>
        <th>Column</th>
        <th>Column</th>
        <th>Column</th>
        <th>Column</th>
        <th>Column</th>
        <th>Column</th>
        <th>Column</th>
      </tr>
    </thead>
    <tbody>
    <tr>
    <td>Row</td>
    <td>$38,283</td>
    <td>$38,283</td>
    <td>$38,283</td>
    <td>$38,283</td>
    <td>$38,283</td>
    <td>$38,283</td>
    <td>$38,283</td>
    <td>$38,283</td>
    <td>May 13, 2020</td>
    </tr>
    <tr>
      <td>Row</td>
      <td>$38,283</td>
      <td>$38,283</td>
      <td>$38,283</td>
      <td>$38,283</td>
      <td>$38,283</td>
      <td>$38,283</td>
      <td>$38,283</td>
      <td>$38,283</td>
      <td>May 13, 2020</td>
    </tr>
    <tr>
      <td>Row</td>
      <td>$38,283</td>
      <td>$38,283</td>
      <td>$38,283</td>
      <td>$38,283</td>
      <td>$38,283</td>
      <td>$38,283</td>
      <td>$38,283</td>
      <td>$38,283</td>
      <td>May 13, 2020</td>
    </tr>
    <tr>
      <td>Row</td>
      <td>$38,283</td>
      <td>$38,283</td>
      <td>$38,283</td>
      <td>$38,283</td>
      <td>$38,283</td>
      <td>$38,283</td>
      <td>$38,283</td>
      <td>$38,283</td>
      <td>May 13, 2020</td>
    </tr>
  </tbody>
  </table>
    
  </div>